body {
  font-family: 'Catamaran', sans-serif;
  -webkit-font-smoothing: antialiased;
}
img {
  display: block;
  width: 100%;
}
.container {
  width: 1286px;
  padding-right: 0px;
  padding-left: 0px;
}
a {
  color: #888;
}
a:hover {
  text-decoration: none;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
input {
  outline-style: none;
}
.nav {
  height: 72px;
}
.nav .top-nav {
  height: 42px;
  background-color: #fff;
  position: relative;
  padding-right: 110px;
}
.nav .top-nav input {
  width: 355px;
  height: 34px;
  border-radius: 20px;
  padding: 0 15px;
  margin: 4px 0;
  color: #888;
  transition: color 200ms ease-in-out;
  border: 1px solid #ccc;
  font-size: 1em;
}
.nav .top-nav span {
  position: absolute;
  top: 0;
  right: 170px;
  line-height: 42px;
  font-size: 20px;
  font-weight: 700;
  color: #888;
}
.nav .top-nav .loading {
  margin-top: 6px;
  width: 30px;
  margin-left: 10px;
  border-radius: 50%;
}
.nav .top-nav .logo {
  width: 165px;
  height: 110px;
  position: absolute;
  left: 0px;
  top: -25px;
  z-index: 9999;
  border-radius: 0 0 15px 15px;
  transition: transform 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  background: url('../images/logo-nintendo.svg') no-repeat center 50px;
  background-color: #E60012;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
}
.nav .top-nav .logo:hover {
  transform: translateY(20px);
  transition: transform 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav .box {
  background-color: #dadada;
}
.nav .box .bottom-nav {
  height: 30px;
  padding-left: 200px;
  line-height: 30px;
  background-color: #dadada;
}
.nav .box .bottom-nav ul li {
  float: left;
  width: 14.28%;
  text-align: center;
  transition: color 0.3s, background 0.3s;
}
.nav .box .bottom-nav ul li a {
  display: inline-block;
  width: 100%;
}
.nav .box .bottom-nav ul li a:hover {
  color: #888;
  text-decoration: none;
}
.nav .box .bottom-nav ul li:nth-child(1):hover {
  background-color: #fff;
}
.nav .box .bottom-nav ul li:nth-child(1):hover a {
  color: #000;
}
.nav .box .bottom-nav ul li:nth-child(2):hover {
  background-color: #CE181E;
}
.nav .box .bottom-nav ul li:nth-child(2):hover a {
  color: #fff;
}
.nav .box .bottom-nav ul li:nth-child(3):hover {
  background-color: #FF7D00;
}
.nav .box .bottom-nav ul li:nth-child(3):hover a {
  color: #fff;
}
.nav .box .bottom-nav ul li:nth-child(4):hover {
  background-color: #fff;
}
.nav .box .bottom-nav ul li:nth-child(4):hover a {
  color: #000;
}
.nav .box .bottom-nav ul li:nth-child(5):hover {
  background-color: #FF3F3F;
}
.nav .box .bottom-nav ul li:nth-child(5):hover a {
  color: #fff;
}
.nav .box .bottom-nav ul li:nth-child(6):hover {
  background-color: #00BFF3;
}
.nav .box .bottom-nav ul li:nth-child(6):hover a {
  color: #fff;
}
.nav .box .bottom-nav ul li:nth-child(7):hover {
  background-color: #fff;
}
.nav .box .bottom-nav ul li:nth-child(7):hover a {
  color: #000;
}
.opacitynav {
  height: 55px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: -webkit-sticky;
  position: sticky;
  float: left;
  top: 0;
  z-index: 999;
}
.opacitynav .box {
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 200px;
}
.opacitynav .box ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  line-height: 55px;
  text-align: center;
}
.opacitynav .box ul li {
  float: left;
  flex: 1;
}
.opacitynav .box ul li a {
  display: block;
  width: 100%;
  height: 100%;
  font-weight: 900;
  color: #fff;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}
.opacitynav .box ul li:nth-child(5) a {
  color: #FFD200;
}
.opacitynav .box ul li:nth-child(3) img {
  height: 45px;
  width: 45px;
  margin: 3px auto;
}
.opacitynav .box ul li:hover a {
  color: #FFD200;
}
.history {
  height: 450px;
  background: url(../images/banner_bj.jpg);
  background-size: 240px 266.5px;
}
.history .container {
  padding-left: 65px;
  color: #fff;
  overflow: hidden;
}
.history .container .left {
  float: left;
  width: 475px;
  height: 164px;
  padding: 0 10px;
  margin-top: 90px;
}
.history .container .left h2 {
  font-weight: 900;
  width: 455px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-size: 60px;
  margin-bottom: 20px;
  position: relative;
}
.history .container .left h2 span {
  display: block;
  height: 5px;
  width: 200px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 85px;
}
.history .container .left p {
  font-size: 16px;
  text-align: center;
}
.history .container .right {
  margin-left: 10px;
  width: 665px;
  height: 394px;
  float: left;
  position: relative;
}
.history .container .right .yi {
  width: 295px;
  height: 321px;
  margin-top: 50px;
  position: absolute;
  left: 240px;
  opacity: 0;
}
.history .container .right .er {
  width: 270px;
  height: 568px;
  left: 240px;
  position: absolute;
  bottom: -568px;
  z-index: 1;
  opacity: 0;
}
.history .container .right .san {
  width: 209px;
  height: 209px;
  position: absolute;
  right: 200px;
  top: 190px;
  opacity: 0;
}
.history .container .right .si {
  width: 170px;
  height: 42px;
  position: absolute;
  top: 40px;
  right: -85px;
  opacity: 1;
  z-index: 1;
}
.history .container .right .wu {
  width: 42px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 40px;
  z-index: 0;
  opacity: 1;
}
.main {
  background: url(../images/main_bj.jpg);
  background-size: 320px 131.5px;
  padding-top: 35px;
  position: relative;
  z-index: 2;
}
.main .top {
  height: 12px;
  width: 100%;
  background: url(../images/main_sanjiao.png);
  position: absolute;
  top: -12px;
  background-size: 320px 12px;
}
.main .container {
  padding-right: 30px;
  padding-left: 80px;
}
.main .container .nav .box {
  float: right;
  background-color: transparent;
}
.main .container .nav .box span {
  float: left;
  color: #fff;
  font-weight: 900;
  padding-right: 10px;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
}
.main .container .nav .box .anniu {
  float: left;
  margin-right: 35px;
  border-radius: 18px;
  background-color: #fff;
  border: 3px solid #fff;
  overflow: hidden;
}
.main .container .nav .box .anniu a {
  display: block;
  float: left;
  width: 86px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
  font-weight: 900;
  text-decoration: none;
}
.main .container .nav .box .anniu a:nth-child(1) {
  color: #E60012;
  background-color: transparent;
}
.main .container .nav .box .anniu a:nth-child(2) {
  background-color: #E60012;
  color: #fff;
}
.main .container .bigContent {
  position: relative;
}
.main .container .bigContent #content_active {
  height: 475px;
  width: 360px;
  float: left;
  margin-right: 30px;
}
.main .container .bigContent #content_active .box {
  width: 360px;
  height: 315px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  position: relative;
}
.main .container .bigContent #content_active .box span {
  display: block;
  height: 8px;
  width: 8px;
  border-radius: 8px;
  background-color: #E60012;
  position: absolute;
}
.main .container .bigContent #content_active .box span:nth-child(1) {
  top: 5px;
  left: 5px;
}
.main .container .bigContent #content_active .box span:nth-child(2) {
  top: 5px;
  right: 5px;
}
.main .container .bigContent #content_active .box span:nth-child(3) {
  bottom: 5px;
  left: 5px;
}
.main .container .bigContent #content_active .box span:nth-child(4) {
  bottom: 5px;
  right: 5px;
}
.main .container .bigContent #content_active .xia .left {
  float: left;
}
.main .container .bigContent #content_active .xia .left h2 {
  color: #fff;
  font-weight: 900;
  font-size: 46px;
}
.main .container .bigContent #content_active .xia .left a {
  display: block;
  width: 152px;
  height: 30px;
  border-radius: 15px;
  border: 3px solid #fff;
  text-align: center;
  line-height: 24px;
  color: #fff;
  font-weight: 700;
  padding-right: 5px;
}
.main .container .bigContent #content_active .xia .left a i {
  float: right;
  margin-top: 5px;
}
.main .container .bigContent #content_active .xia .right {
  float: right;
  color: #fff;
  padding-right: 20px;
}
.main .container .bigContent #content_active .xia .right h4 {
  font-weight: 900;
  width: 180px;
  font-size: 16px;
}
.main .container .bigContent #content_active .xia .right p {
  font-weight: 700;
  width: 180px;
}
.main .container .bigContent .lunbo {
  box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.4);
  z-index: 99;
  display: none;
  width: 880px;
  height: 538px;
  padding: 29px;
  border-radius: 10px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main .container .bigContent .lunbo .lunbo_content {
  width: 822px;
  height: 480px;
  overflow: hidden;
  position: relative;
}
.main .container .bigContent .lunbo .lunbo_content ul {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.main .container .bigContent .lunbo .lunbo_content ul li {
  position: absolute;
  top: 0;
  left: 0;
  width: 822px;
  height: 480px;
}
.main .container .bigContent .lunbo .lunbo_content ul li .lunbo_left,
.main .container .bigContent .lunbo .lunbo_content ul li .lunbo_right {
  width: 411px;
  height: 480px;
}
.main .container .bigContent .lunbo .lunbo_content ul li .lunbo_left {
  float: left;
  background-color: #E60012;
  padding: 32px;
}
.main .container .bigContent .lunbo .lunbo_content ul li .lunbo_left .box {
  width: 347px;
  height: 307px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  position: relative;
}
.main .container .bigContent .lunbo .lunbo_content ul li .lunbo_left .box span {
  display: block;
  height: 8px;
  width: 8px;
  border-radius: 8px;
  background-color: #E60012;
  position: absolute;
}
.main .container .bigContent .lunbo .lunbo_content ul li .lunbo_left .box span:nth-child(1) {
  top: 5px;
  left: 5px;
}
.main .container .bigContent .lunbo .lunbo_content ul li .lunbo_left .box span:nth-child(2) {
  top: 5px;
  right: 5px;
}
.main .container .bigContent .lunbo .lunbo_content ul li .lunbo_left .box span:nth-child(3) {
  bottom: 5px;
  left: 5px;
}
.main .container .bigContent .lunbo .lunbo_content ul li .lunbo_left .box span:nth-child(4) {
  bottom: 5px;
  right: 5px;
}
.main .container .bigContent .lunbo .lunbo_content ul li .lunbo_left .xia .lunbotu_left {
  float: left;
}
.main .container .bigContent .lunbo .lunbo_content ul li .lunbo_left .xia .lunbotu_left h2 {
  color: #fff;
  font-weight: 900;
  font-size: 46px;
  width: 156px;
}
.main .container .bigContent .lunbo .lunbo_content ul li .lunbo_left .xia .lunbotu_right {
  float: right;
  color: #fff;
  padding-right: 20px;
}
.main .container .bigContent .lunbo .lunbo_content ul li .lunbo_left .xia .lunbotu_right h4 {
  font-weight: 900;
  width: 170px;
  font-size: 16px;
}
.main .container .bigContent .lunbo .lunbo_content ul li .lunbo_left .xia .lunbotu_right p {
  font-weight: 700;
  width: 170px;
}
.main .container .bigContent .lunbo .lunbo_content ul li .lunbo_right {
  float: left;
  overflow: auto;
  padding: 15px;
}
.main .container .bigContent .lunbo .lunbo_content ul li .lunbo_right .lunbo_right-box {
  width: 100%;
  position: relative;
  padding-bottom: 100px;
}
.main .container .bigContent .lunbo .lunbo_content ul li .lunbo_right .lunbo_right-box h2 {
  color: #E60012;
  font-weight: 900;
  font-size: 42px;
  margin-bottom: 30px;
}
.main .container .bigContent .lunbo .lunbo_content ul li .lunbo_right .lunbo_right-box .right_img {
  width: 284px;
  height: 238px;
  margin: 0 auto 20px;
}
.main .container .bigContent .lunbo .lunbo_content ul li .lunbo_right .lunbo_right-box h5 {
  font-weight: 700;
  color: #333333;
}
.main .container .bigContent .lunbo .lunbo_content ul li .lunbo_right .lunbo_right-box p {
  color: #ccc;
  line-height: 30px;
  font-size: 20px;
}
.main .container .bigContent .lunbo .lunbo_content ul li .lunbo_right .lunbo_right-box .xia_img {
  width: 51px;
  height: 77px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.main .container .bigContent .lunbo span {
  display: block;
  height: 8px;
  width: 8px;
  border-radius: 8px;
  background-color: #ccc;
  position: absolute;
}
.main .container .bigContent .lunbo span:nth-child(1) {
  top: 5px;
  left: 5px;
}
.main .container .bigContent .lunbo span:nth-child(2) {
  top: 5px;
  right: 5px;
}
.main .container .bigContent .lunbo span:nth-child(3) {
  bottom: 5px;
  left: 5px;
}
.main .container .bigContent .lunbo span:nth-child(4) {
  bottom: 5px;
  right: 5px;
}
.main .container .bigContent .lunbo #close {
  width: 40px;
  height: 40px;
  border: 3px solid #E60012;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  right: -15px;
  text-align: center;
  line-height: 40px;
  color: #E60012;
  font-size: 24px;
  font-weight: 700;
}
.main .container .bigContent .lunbo .left,
.main .container .bigContent .lunbo .right {
  width: 75px;
  height: 75px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.main .container .bigContent .lunbo .left .quan,
.main .container .bigContent .lunbo .right .quan {
  width: 68px;
  height: 68px;
  border: 3px solid #E60012;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.main .container .bigContent .lunbo .left {
  left: -100px;
}
.main .container .bigContent .lunbo .left .leftsanjiao {
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  border-top: 18px solid transparent;
  border-left: 18px solid transparent;
  border-right: 18px solid #E60012;
  border-bottom: 18px solid transparent;
}
.main .container .bigContent .lunbo .right {
  right: -100px;
}
.main .container .bigContent .lunbo .right .rightsanjiao {
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  border-top: 18px solid transparent;
  border-left: 18px solid #E60012;
  border-right: 18px solid transparent;
  border-bottom: 18px solid transparent;
}
.main .container #newContent {
  display: none;
}
.main .bottom {
  height: 210px;
  position: relative;
}
.main .bottom .qiang {
  width: 929px;
  height: 85px;
  position: absolute;
  left: -505px;
  top: 0;
}
.main .bottom .banshou {
  width: 282px;
  height: 121px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.main .bottom .coin {
  width: 292px;
  height: 168px;
  position: absolute;
  bottom: 5px;
  right: 90px;
}
.footer {
  background: url(../images/ground.png) repeat left top;
  margin-top: 103px;
  position: relative;
}
.footer:before {
  content: '';
  background: url(../images/leaves.png) repeat-x left top;
  display: block;
  height: 103px;
  width: 100%;
  position: absolute;
  top: -103px;
  left: 0;
}
.footer .row1 {
  padding-bottom: 26px;
}
.footer .row1 .foot-share {
  width: 555px;
  height: 66px;
  background: #fff;
  border: 2px solid #E6E6E6;
  border-radius: 10px;
  margin: 0 auto;
  color: #9b9b9b;
  display: block;
  position: relative;
}
.footer .row1 .foot-share .one,
.footer .row1 .foot-share .tow,
.footer .row1 .foot-share .three,
.footer .row1 .foot-share .four {
  background: #F8E190;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  position: absolute;
  box-shadow: inset 2px 2px 0 0 rgba(0, 0, 0, 0.3);
}
.footer .row1 .foot-share .one {
  top: 10px;
  left: 10px;
}
.footer .row1 .foot-share .tow {
  top: 10px;
  right: 10px;
}
.footer .row1 .foot-share .three {
  bottom: 10px;
  left: 10px;
}
.footer .row1 .foot-share .four {
  bottom: 10px;
  right: 10px;
}
.footer .row1 .foot-share .content {
  height: 100%;
  display: flex;
  padding: 0 65px;
  box-sizing: border-box;
}
.footer .row1 .foot-share .content p {
  flex: 1;
  padding: 0 10px;
  color: #7B7B7B;
  text-align: center;
  font-size: 16px;
  line-height: 66px;
}
.footer .row1 .foot-share .content a {
  flex: 1;
  display: block;
  color: #E60012;
  border: 2px solid #E60012;
  border-radius: 20px;
  height: 40px;
  line-height: 38px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  margin: 12px 36px;
}
.footer .row1 .foot-share .content a:hover {
  background-color: #E60012;
  color: #fff;
}
.footer .foot-link {
  height: 345px;
  background-color: #502B25;
  padding: 80px 15px 60px 15px;
  box-sizing: border-box;
  position: relative;
}
.footer .foot-link .back .back-top {
  width: 128px;
  height: 100px;
  position: absolute;
  bottom: 337px;
  right: 10px;
  overflow: hidden;
  z-index: 998;
}
.footer .foot-link .back .back-top img {
  width: 128px;
  position: absolute;
  top: 0px;
  right: 0px;
}
.footer .foot-link .back a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  z-index: 2;
  width: 128px;
  height: 68px;
  background: url(../images/arrow-backtotop.png) no-repeat;
  background-size: 100%;
  color: #fff;
  position: absolute;
  top: -45px;
  right: 10px;
  z-index: 999;
}
.footer .foot-link .back a:hover .back-top {
  height: 200px;
}
.footer .foot-link .back a span {
  line-height: 70px;
}
.footer .foot-link .link {
  height: 205px;
  padding-left: 10px;
  padding-right: 10px;
}
.footer .foot-link .link .box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.footer .foot-link .link .box .box1 {
  width: 92px;
  height: 92px;
  background: url(../images/logo-amiibo.svg);
  cursor: pointer;
}
.footer .foot-link .link .box .box2 {
  width: 288px;
  height: 90px;
  padding-bottom: 10px;
  position: relative;
}
.footer .foot-link .link .box .box2 p {
  text-align: center;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
}
.footer .foot-link .link .box .box2 a:nth-child(2) img {
  position: absolute;
  bottom: 5px;
  left: 0px;
}
.footer .foot-link .link .box .box2 a:nth-child(3) img {
  position: absolute;
  bottom: 5px;
  left: 65px;
}
.footer .foot-link .link .box .box2 a:nth-child(4) img {
  position: absolute;
  bottom: 5px;
  right: 87px;
}
.footer .foot-link .link .box .box2 a:nth-child(5) img {
  position: absolute;
  bottom: 5px;
  right: 20px;
}
.footer .foot-link .link .box .box2 img {
  display: block;
  width: 48px;
  height: 48px;
  margin-left: 20px;
  float: left;
}
.footer .foot-link .link .box .box3 {
  height: 92px;
  cursor: pointer;
}
.footer .foot-link .link .box .box3 img:nth-child(1) {
  display: inline-block;
  width: 136px;
  height: 90px;
  margin: 0 7px;
}
.footer .foot-link .link .box .box3 img:nth-child(2) {
  display: inline-block;
  width: 66px;
  height: 90px;
  margin: 0 7px;
}
.footer .foot-link .link .box .box4 {
  text-align: center;
  margin: 16px auto 30px;
  width: 96%;
}
.footer .foot-link .link .box .box4 a {
  color: #fff;
  font-size: 12px;
}
.footer .foot-link .link .box .box4 a:hover {
  text-decoration: underline;
}
.footer .foot-link .link .box .box4 span {
  color: #fff;
  font-size: 12px;
}
.footer .foot-link .link .box .box5 {
  margin: 0 auto;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.footer .foot-link .link .box .box5 .copy {
  text-align: center;
  color: #fff;
  font-size: 10px;
  margin-bottom: 3px;
}
.footer .foot-link .link .box1,
.footer .foot-link .link .box2,
.footer .foot-link .link .box3 {
  margin: 16px;
}
